@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300&family=Exo:wght@600&family=Gajraj+One&family=Inter:wght@400;700;800&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,700&family=Roboto&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');
:root {
--font: 'poppins';    
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.search-form {
    margin-bottom: 1rem;
}

#search-field {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    display: inline;
}

#search-btn {
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
    display: inline;
}

/* #random-btn {
    background-color: #009688;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
} */

/* #random-btn:hover,
#search-btn:hover {
    opacity: 0.8;
} */


/* * recipe container styles */

/* .recipe-section {
    margin-inline: auto;
    padding: 2rem;
    width: clamp(30rem, 85vw + 1rem, 70rem );
}

.ingredients,
.instructions {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1rem;
}

.ingredients *, 
.instructions *
{
    margin-bottom: .5rem;
}

.recipe-description {
    margin-bottom: 1rem;
}

.recipe-heading {
    margin: 2.5rem 0;
    font-size: 2.5rem;
}
.ingredients-heading,
.instructions-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.serves,
.prep,
.cook {
    display: flex;
    gap: 1rem;
    font-size: .8rem;
}

.recipe-image {
    width: clamp(300px, 20vw + 100px, 1000px);
    object-fit: contain;
} */ 
}

.trending-section {
    margin: 0 5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
.trending-container {
    width: clamp(300px, 20vw + 100px, 1000px);
    padding: .5rem;
}

.trending-img {
    width: clamp(300px, 20vw + 100px, 1000px);
    aspect-ratio: 1;
    object-fit: cover;
}
